[2020-05-24 07:21] CarlJi opened #14 "unable to build project [https://github.com/enricofoltran/simple-go-server]"
Steps：
1. workspace and environment
[code]
2. try to use goc command to build this project, but got errors:
[code]

[2020-05-25 03:41] lyyyuna commented on #14
`simple-go-server` is `GOPATH` like project, but your repo(/Users/jicarl/qbox/simple-go-server
) is outside of your `GOPATH`(/Users/jicarl/k8s)?

[2020-05-25 08:56] CarlJi commented on #14
Yes,  but it works to build this project via `go build .` command at the same scenario：
![image](https://user-images.githubusercontent.com/10810759/82796624-65553a00-9ea8-11ea-935e-cd9e6ec92f8e.png)
so i expect `goc build .` command works too. @lyyyuna

[2020-05-25 09:10] lyyyuna commented on #14
@CarlJi
The project you mentioned has no other Deps, except for system built-in libraries. So it can be compiled anywhere.

I will check it if we have a simple solution.

[2020-05-25 09:20] lyyyuna commented on #14
@CarlJi
Would you help to double-check if the original `go install` command can work in your environment without `GOPATH`?

[2020-05-25 16:08] CarlJi commented on #14
![image](https://user-images.githubusercontent.com/10810759/82829056-f77b3380-9ee4-11ea-9f98-7a10a41f3c94.png)

[2020-05-28 06:31] tongjingran opened #24 "goc profile confused because of different versions of same code"
When we use same goc_server for several different version of same code, we found that the goc profile cannot show which version it get. This makes me confused.
We build several goc_sever for each version to solve it temporary.
Goc should have power to make it possible for code version control.

[2020-05-29 12:09] CarlJi opened #26 "goc comamnd should not print any logs when running normally"
for example, `goc build .` would print the following information when it works normally, which is noisy：
[code]
i think keeping the behavior of goc  consistent with pure go command will make user more easier to use goc. not only `goc build` needs to be modified, but others as well.

[2020-06-04 10:01] CarlJi opened #29 "suggest to do some retries when connect to github API failed"
error log:
[code]

[2020-06-08 03:03] #29 closed

[2020-06-09 02:58] e06084 opened #33 "add a post job to auto update remote bucket goc binary after pr merged"
RT

[2020-06-14 04:49] CarlJi commented on #26
#35 fix this

[2020-06-14 04:49] #26 closed

[2020-06-14 04:54] CarlJi opened #36 "goc should print proper logs when error occurs"
Currently, if the flag `--debug` is false, `goc install .` command  wouldn't output any logs even it failed to execute. The behavior is absolutely unfriendly, we need enhance it.

[2020-06-15 14:57] CarlJi opened #38 "Proposal: goc profile should support to output detailed coverage profile or summary rate"
e.g `goc profile --summary` which can print the summary coverage rate

[2020-06-15 15:18] CarlJi commented on #14
still failed to build this project:
[code]

cc @lyyyuna

[2020-06-17 04:01] lyyyuna opened #41 "If one of the covered services exit, goc profile cannot get the coverage"
If the tested service exit before `goc profile` get the coverage file, `goc profile` will write the error message instead:

[code]

expected:
1. should output coverage always

[2020-06-17 07:25] #14 closed

[2020-06-18 12:31] lyyyuna opened #43 "wrong output binary name"
The binary name should be generate from import path, not the directory path for gomodule project.

[2020-06-28 09:12] JasonkayZK opened #48 "[Windows] Can't build simple-go-server use goc!"
D:\workspace\simple-go-server (master -> origin)
λ goc build .
**level=fatal msg="Fail to build: fail to list package dependencies"**

[2020-06-28 09:38] CarlJi commented on #48
hi @JasonkayZK , please turn on the debug flag as `goc build . --debug`, then provide the full logs, which would be better for us to locate the root cause.

[2020-06-28 09:42] JasonkayZK commented on #48
[code]

I see, so win10 is not supported, goc works well in Linux! ♥

[2020-06-28 09:48] CarlJi commented on #48
Thanks for your trying, i think goc supporting windows should be a good enhancement, we will consider it for planning.

[2020-06-30 09:22] memoryliu opened #50 "goc install fail to list package dependencies with golang ld warning info"
go list ./... some packages with ld warning info:

ld: warning: ld: warning: object file (/var/folders/8c/hk9slbfs25lbn_3z8rl7jqkr0000gn/T/go-link-210771923/000000.o) was built for newer OSX version (10.15) than being linked (10.13)object file (/var/folders/8c/hk9slbfs25lbn_3z8rl7jqkr0000gn/T/go-link-210771923/go.o) was built for newer OSX version (10.15) than being linked (10.13)

ld: warning: ob

[2020-07-02 06:40] CarlJi opened #51 "proposal: goc version management"
Like go
[code]

Goc should also have version management when publishing.

[2020-07-02 06:40] CarlJi commented on #51
/assign @CarlJi

[2020-07-02 07:18] memoryliu opened #52 "add particular port for registered service"
Some services run virtualized environment such as docker container. The registered service can expose fixed port, making them a relatively easy method of integration across virtualized container and service center

[2020-07-02 07:21] memoryliu commented on #52
/assign memoryliu

[2020-07-02 07:22] memoryliu commented on #52
/assign memoryliu

[2020-07-03 01:57] lyyyuna opened #53 "fail to cross-compile when using goc install"
[code]

[2020-07-03 12:09] #51 closed

[2020-07-03 15:23] #50 closed

[2020-07-04 14:51] CarlJi opened #61 "check agentPort flag value"

[2020-07-06 10:19] CarlJi commented on #61
/assign @memoryliu

[2020-07-08 06:39] hktime opened #64 "Encounter a problem when follows the instruction of gif in Readme"
Nice tool!
I'm trying to use the goc tool by following the instructions of the gif in readme. But the output is unexpected.

First of all, I have installed goc tool through `go get` command and `git clone` the simple-go-server.
Then, `goc run .`looks great.
But the output of `goc profile` is not exactly the same as gif, and `goc profile --center="http://127.0.0.1:52943" > coverage.out && go tool c

[2020-07-08 09:47] Alanfight opened #66 "goc should support got single project coverage by "goc profile"，Now it's getting all projects."
As the title， thanks

[2020-07-08 10:46] lyyyuna commented on #64
One solution is to put `simple-go-server` in your GOPATH, then `goc` is able to figure out the right `importpath` for each package in this project

[2020-07-08 11:52] hktime commented on #64
Thanks a lot, I solved this problem by switching to the forked version of [simple-go-server](https://github.com/CarlJi/simple-go-server) with go.mod. The GOPATH way should work too.

[2020-07-08 11:52] #64 closed

[2020-07-08 12:16] lyyyuna commented on #66
@AlanFightting what do you mean by single project? One service? Or one single project consists of several services (as a collection of one server)?

[2020-07-08 12:21] lyyyuna commented on #52
fixed by #54

[2020-07-08 12:21] #52 closed

[2020-07-09 01:37] AlanFightting commented on #66
yes,  I want got one service  from specified register center

[2020-07-09 02:52] tongjingran commented on #66
put it on the agenda

[2020-07-09 08:31] #61 closed

[2020-07-10 14:30] lyyyuna commented on #43
-_-, no test case to test if `--output -o` specified, and fail on this case...

[2020-07-11 03:56] lyyyuna opened #70 "Test all goc subcommands with goc itself"
1. current goc profile only support long-run program, needs to work out a solution or workaround to get profile of all running goc subcommands' coverage (build/install/cover/diff ...).

[2020-07-12 09:08] #43 closed

[2020-07-13 13:26] tongjingran opened #72 "Errors should show in command instead of output files when get a profile"
If errors occur when we use `goc profile --output output.txt` to get a profile, we found that there is nothing warning on the terminal screen. But the errors appeared unexpectedly in the output file.

[2020-07-14 02:00] wzh521 opened #73 "goc build err but i can't understand , I need your help"
"github.com/sparrc/go-ping"
   I use goPing library in my projects . when i run the command "goc build ." error occurs but i can't understand.

mistake
./http_cover_apis_auto_generated.go:2135:89: undefined: cache_343664633233633838353763.GoCacheCover_0_34636232323162626631
./http_cover_apis_auto_generated.go:2137:88: undefined: cache_343664633233633838353763.GoCacheCover_1_34636232323162626631
./

[2020-07-14 02:49] wzh521 commented on #73
INFO[2020-07-14T10:02:55+08:00][logrus/entry.go:313] cache cover exist: github.com/panjf2000/ants/cache_373732376636353838396563
INFO[2020-07-14T10:02:55+08:00][logrus/entry.go:313] cache cover exist: github.com/pierrec/lz4/cache_373232643464303736396661
INFO[2020-07-14T10:02:56+08:00][logrus/entry.go:313] cache cover exist: golang.org/x/net/cache_343664633233633838353763

i found id  is same , bu

[2020-07-14 08:23] CarlJi commented on #73
Thanks @wzh521

`http_cover_apis_auto_generated.go` file is auto generated by goc, and basically is hidden for users. I am guessing maybe you are trying the `goc cover` command? if yes, please be careful, it will contaminate your code.

For your question, you can try to clean your workspace first and use `go build` to make sure the project can be compiled successfully. then use `goc build .` to tr

[2020-07-14 08:27] CarlJi commented on #72
It's better to provide the logs to show the details for your scenario, as:
`goc profile` vs `goc profile --output output.txt`

[2020-07-14 08:35] tongjingran commented on #72
Use `goc profile`. if an error occurs, the terminal shows
`{"error":"Get http://10.100.10.13:32413/v1/cover/profile: dial tcp 10.100.10.13:32413: connect: connection refused"}`
Use `goc profile -o output.txt`. If an error occurs , there's nothing print the terminal. We found that the error info would write to the output.txt directly.
Errors should show in terminal before writing them into the outp

[2020-07-15 01:51] wzh521 commented on #73
Thanks @ CarlJi
the proplem stil exists , i don't konw how to solve

09:33:16 09:33:16 time="2020-07-15T09:33:15+08:00" level=info msg="Working directory: /home/goProjects/src/Pick/pick" file="[logrus/entry.go:313]"
09:33:16 09:33:16 time="2020-07-15T09:33:15+08:00" level=info msg="go list cmd is: [/bin/bash -c go list -json ./...]" file="[logrus/entry.go:313]"
09:33:16 09:33:16 time="2020-07-15T0

[2020-07-15 01:55] wzh521 commented on #73
@CarlJi

[2020-07-15 02:18] CarlJi commented on #73
/assign @memoryliu

[2020-07-15 12:15] CarlJi opened #74 "Covered service may still use the previous listened address even compiled with `goc build --agentport xxx` if xx_profile_listen_addr file existed"
From: https://testerhome.com/topics/24515
Problems probably in: https://github.com/qiniu/goc/blob/master/pkg/cover/instrument.go#L254

we need adjust the logic。

[2020-07-15 12:26] CarlJi commented on #74
/assign @memoryliu

[2020-07-17 10:57] CarlJi commented on #70
/assign @lyyyuna

[2020-07-17 11:39] tongjingran commented on #66
@Alanfight goc profile support getting the profile of specific services or addresses. You can use `goc profile --service=a,b,c` or `goc profile --address=http://127.0.0.1:1234,http://127.0.0.1:5678` to get what you want. All the available services and addresses are shown in `goc list`.

[2020-07-20 08:02] Alanfight commented on #66
When will a version be released

[2020-07-20 09:02] lyyyuna commented on #66
@Alanfight , we have released the v1.2.0,  can you help to test the new flags mentioned by @tongjingran ?

[2020-07-23 08:48] lyyyuna commented on #73
@wzh521 hi，from the goc debug log, I can get the following information:

1. `GOPATH=home/goProjects`
2. Your project is built with `GO111MODULE="off"`
3. Your project is in `/home/goProjects/src/Pick/pick`, and seems there is a lot of main packages in `Pick/pick`
4. It seems that you are using an old or self-built goc, as the logrus logs a wrong file name (a known bug, logrus<1.5 with go1.14)

We

[2020-07-23 08:50] lyyyuna commented on #70
We have a workaround to test goc with goc and get coverage report:

I describe the basic principle here:
https://github.com/qiniu/goc/blob/master/tests/README.md

[2020-07-23 08:51] #70 closed

[2020-07-24 09:35] wzh521 commented on #73
@lyyyuna
Thank you for your help.I solved this problem by deleting redundant main packages. I will try the new version later，If the problem recurs, can I contact you again？

[2020-07-24 09:38] lyyyuna commented on #73
@wzh521 sure~

[2020-07-29 08:14] seven1999 opened #83 "go get报错"
xxxxMacBook-Pro:~ xxxx$ go get -u github.com/qiniu/goc
# github.com/hashicorp/go-retryablehttp
xxx/src/github.com/hashicorp/go-retryablehttp/roundtripper.go:48:16: undefined: errors.Unwrap
# github.com/qiniu/goc/pkg/build
xxxx/src/github.com/qiniu/goc/pkg/build/tmpfolder.go:86:5: undefined: errors.Is

[2020-07-29 08:15] seven1999 opened #84 "go get报错：tmpfolder.go:86:5: undefined: errors.Is；roundtripper.go:48:16: undefined: errors.Unwrap"
xxxxMacBook-Pro:~ xxxx$ go get -u github.com/qiniu/goc
# github.com/hashicorp/go-retryablehttp
xxx/src/github.com/hashicorp/go-retryablehttp/roundtripper.go:48:16: undefined: errors.Unwrap
# github.com/qiniu/goc/pkg/build
xxxx/src/github.com/qiniu/goc/pkg/build/tmpfolder.go:86:5: undefined: errors.Is

[2020-07-29 08:15] #83 closed

[2020-07-29 08:15] seven1999 commented on #83
repeat

[2020-07-30 02:39] lyyyuna commented on #84
@seven1999 , what's your go version?
this new function `errors.Unwrap` needs go1.13+

[2020-07-30 08:11] #73 closed

[2020-07-30 08:12] CarlJi commented on #41
use `goc profile --force`

[2020-07-30 08:13] #41 closed

[2020-07-30 08:14] CarlJi commented on #66
feature provided as `goc profile [--address|--server]`. Close this issue.

[2020-07-30 08:14] #66 closed

[2020-08-03 02:40] CarlJi commented on #74
/unassign

[2020-08-03 07:54] lyyyuna opened #89 "add support for merging multiple coverage profiles"

[2020-08-03 15:31] memoryliu commented on #74
/assign @memoryliu

[2020-08-04 08:20] CarlJi commented on #89
we already use such function like https://github.com/qiniu/goc/blob/master/pkg/cover/server.go#L174
[code]

Based on the function , we probably just need implement a subcommand like `goc merge cov1 cov2 cov3 ...` to do that.

[2020-08-05 07:15] #74 closed

[2020-08-06 01:27] dmc420 opened #92 "cannot build if go.mod has relative path 'replace' directive"
项目比较大，各种依赖很复杂，有十几个文件，之前都是用makefile编译的
执行goc build .报错
go: $path/$module@v0.0.0-20200804122736-5634267498a2: parsing $path/go.mod: open $path/go.mod: no such file or directory
FATA Fail to build: fail to execute: [/bin/bash -c go build  -o $path/$program .], err: exit status 1
试了下用go build .可以成功编译

[2020-08-06 01:45] #89 closed

[2020-08-06 02:28] lyyyuna commented on #92
能否加上 --debug 再运行一次？--debug 会输出所有日志

另外，有些问题，
1. 我看你这是使用了 go.mod，依赖全部由 gomodule 管理吗？
2. 是单个 go mod 工程，还是有使用 replace 来组合多个 go mod 工程？replace 相对路径还未支持。
3. 这里的 `$path/$module` 是本身就这样，还是为了故意隐去的？

[2020-08-06 06:21] dmc420 commented on #92
感谢，就是go.mod里面的replace使用的相对路径，改成绝对路径就可以编译成功了，

[2020-08-06 07:14] CarlJi commented on #84
Please refer to the guide: https://github.com/qiniu/goc#installation. Closing it. Feel free to reopen or create a new issue if you have further questions again @seven1999

[2020-08-06 07:14] #84 closed

[2020-08-07 01:45] dmc420 opened #93 "goc clear can't clear coverage data"
收集了一堆覆盖率数据，想清除之前的重新收集，执行goc clear似乎无效
[user_00@user]$ goc clear
Register service aaa: http://127.0.0.1:57832 coverage counter clear call successfully
Register service bbb: http://127.0.0.1:51907 coverage counter clear call successfully

再次执行goc profile，仍然有覆盖率数据
杀掉goc server进程，重新打开，仍然有覆盖率数据

不知道是不是我理解错了，还是要用其他的方式清除数据？

[2020-08-07 07:10] dmc420 commented on #93
sorry，我自己没看到
goc init
然后重新goc register就可以了

[2020-08-07 07:10] #93 closed

[2020-08-08 09:26] lyyyuna commented on #92
@dmc420

[2020-08-10 09:32] tianxiataiping opened #94 "goc version zsh: command not found: goc"

[2020-08-10 09:38] tianxiataiping commented on #94
after excute "go build " then goc version ,return "command not found: goc"

[2020-08-11 04:02] CarlJi commented on #94
try `go install` . or use `./goc version` after compile.

[2020-08-11 04:03] CarlJi commented on #94
for the difference about `go install` and `go build`, suggest to refer this: https://stackoverflow.com/questions/30612611/what-does-go-build-build-go-build-vs-go-install

[2020-08-12 06:40] lyyyuna commented on #53
goc use $GOBIN to force go write binary to original place.
But it seems that the $GOBIN conflicts with cross-compile, no better solution found yet.

[2020-08-12 06:51] CarlJi commented on #94
Closing it。feel free to submit new issue or reopen it if you have further questions。

[2020-08-12 06:51] #94 closed

[2020-08-12 09:07] #92 closed

[2020-08-12 09:19] lyyyuna commented on #92
@dmc420 新的release还未发布，可以用最新 commit 做测试，支持了相对路径的 go.mod replace。

[2020-08-12 11:40] dmc420 commented on #92
好的，非常感谢

[2020-08-20 02:08] chengaomin opened #100 "关于指定覆盖率统计文件或目录的功能 coverpkg"
在使用go test 做覆盖率时，有go test -coverpkg可以指定覆盖率只统计哪些目录。
在goc里面，未找到此功能，是否有计划支持。

[2020-08-20 06:40] CarlJi commented on #100
参考-coverpkg的语义:https://github.com/golang/go/blob/master/src/cmd/go/internal/test/test.go#L230

是个挺实用的功能。个人认为，可以从以下两个方面来支持:
1. `goc profile` 支持该参数-coverpkg。基本逻辑是先从`goc server`拿到覆盖率结果，然后通过-coverpkg来做过滤。使用姿势应如: `goc profile -coverpkg pattern`
2. `goc build/install` 支持该参数-coverpkg，支持在插桩时有选择性的插桩。比如 `goc build -coverpkg pattern ./...` 。其弊端是，没被插桩的包就会没办法拿到覆盖率结果了。

考虑到灵活性，个人倾向于选择第一种方式。

cc @lyyyuna  @cheng

[2020-08-20 14:20] lyyyuna opened #101 "Provide performance test report"
It's time to do some performance test now, and provide the report in README or doc.

1. `go build/install` vs `goc build/install` on some large project.
2. original binary vs covered binary in runtime in count/set/atomic mode

[2020-08-21 06:32] chenpfeisoo commented on #101
enricofoltran/simple-go-server/main.go:30.13,48.33 13 1

统计出来的这几个数字分别代表什么意思呢？

[2020-08-21 07:48] CarlJi commented on #101
参见Go源码: https://github.com/golang/go/blob/master/src/cmd/cover/profile.go#L23
这是go语言定义覆盖率结果一种数据结果，基本意思代表:
文件名,起始行.起始列,结束行.结束列 这个坐标内有多少行语句 覆盖率了多少行

[2020-08-24 08:19] #72 closed

[2020-08-25 03:47] CarlJi commented on #100
/assign @CarlJi

[2020-08-25 06:18] chengaomin opened #103 "有几个问题解答一下"
最近有在尝试使用，几个问题望解答
1、使用goc build --center="http://127.0.0.1:7777" 编译后，如果goc的server没有启动，那么我编译后的服务，是否也无法启动？（我当前有这个问题）是否就是这样设计的？
2、register到center上是否只在服务启动的时候才注册？
3、当我的服务重启之后，注册在goc server上的信息不会remove，然后我goc profile或者goc clear 都会报错。当然，goc profile可以-f来强行获取，但是clear不行。
4、是否可以来一个remove的命令，让我对server上已经失去联系的服务自动进行清除。（如果不清理，以为着看你上面的信息会很多很多）
5、clear现在只有针对center的，是否可以提供针对service的clear？
6、覆盖率的数据是存在我自己的服务侧的，所以重启服

[2020-08-25 12:51] CarlJi commented on #103
@chengaomin 感谢反馈。

- 1和2 当属一个问题。目前确实是启动时才注册。而如果注册不成功，就直接奔溃，这样方便用户即时感知问题。
- 3 理论上服务重启，插桩的服务会重用上一次的监听端口，所以此时再次注册的地址当是同一个才对。如果不是，可能有bug，麻烦开个issue我们来跟进下。
- 4 目前`goc init` 可以清楚全部的注册服务信息。确实可以提供个命令来有选择性的清理服务, 比如 `goc remove --service ` or `goc remove --address`，我们跟进下
- 5 确实可以有选择性的清理某些服务的覆盖率信息，比如`goc clear --service` or `goc clear --address`, 我们跟进下
- 6 是的。目前可以通过`goc profile` 来获取覆盖率结果到本地。另外，我们也在评估让`goc ser

[2020-08-27 02:05] chengaomin commented on #100
1、第一种方式我认同，当前也是自己把profile后的文件自己filter的。
2、我还在思考一个问题，现在是全量插桩，如果提供了build的时候可以选择性插桩，那么build的时间上，是否会缩短，说不定也是一个不错的可以优化的点。

[2020-08-27 02:13] chengaomin commented on #103
@CarlJi 感谢回复。希望goc可以更完善，越做越好, 期待新的功能加入。

这个问题我们有，我们是monit来做服务监控的，我直接monit restart 服务，会重新注册一个端口上去。还需要提供什么信息，然后我再重新提个issue。

我觉得是个好注意，具体怎么做你们评估吧，我暂时没有什么建议。

[2020-08-27 08:24] CarlJi commented on #100
时间会有缩短。你这边是觉得`go build`时间过长吗？是否能介绍下是怎样规模的项目，`go build` 耗时多久呢？ @chengaomin

[2020-08-27 08:37] CarlJi commented on #36
Already fixed.

[2020-08-27 08:37] #36 closed

[2020-08-28 02:10] chengaomin commented on #100
我这里其实也没有太久，30s到120s之间。

[2020-08-31 08:25] lyyyuna commented on #103
@chengaomin 针对问题 3，
1.  提供一下 goc 的版本信息，`goc version`。
2. 被测服务执行目录第一次运行应该会生成 `xxx_profile_listen_addr`，看一下是否有生成。第二次运行的时候该文件内容应该保持不变。

[2020-09-03 01:25] Alanfight opened #106 "vscode 插件goc coverage在windows上存在兼容问题"
运行提示cannot read property 'toString' of null

[2020-09-03 13:59] sisyruan commented on #100
想问下这个指定覆盖率统计文件考虑什么时候支持呀

[2020-09-07 07:49] Naisisor opened #108 "期望支持 PersistenceFile 可配置"
https://github.com/qiniu/goc/blob/4b184c9fb5222e4a9d20767cb6b9a9848a4c7ff6/pkg/cover/store.go#L48
背景：如果 go server 部署在 K8s 集群中当服务宕机重启后无法做到持久化
目标：在 K8s 集群中希望将文件通过 hostPath 或者 OSS 这种方式挂载实现持久化存储亦或是使用 ConfigMap
需求：
希望在 goc server 启动服务的时候增加 PersistenceFile 参数，如：goc server --port=:8080 --register-path=<persistence-file-path/register.txt>

[2020-09-07 08:25] CarlJi commented on #108
Good Idea, we will consider it.

[2020-09-08 08:52] #100 closed

[2020-09-09 11:35] tongjingran opened #109 "When no profile fetched, it should return an error instead of an unexpected response"
Now, when get profile using "force" tag, it may get a strange response: "no profile". It should be an error or nothing back.

[2020-09-12 05:04] lyyyuna opened #113 "Same covered services start in the same directory will cause xxx_profile_listen_addr refresh"
xxx_profile_listen_addr is a file to save service's last listen port, if same binary start in the same time, now it will save one port, the other one is missing.

[2020-09-14 02:54] #106 closed

[2020-09-16 02:38] #109 closed

[2020-09-26 15:25] sanren99999 opened #121 "服务监听固定端口--agentport参数貌似没有生效？"
各位贡献者，你们好！
这是一个超棒的工具！
我在使用的过程中，发现我设定固定监听端口没有生效，我是这样的一个过程：
1、首先启动server
![image](https://user-images.githubusercontent.com/5664399/94343852-b7bc8800-004d-11eb-8850-a235946d37ae.png)
2、执行命令goc build  --agentport :8080  --debug .
![image](https://user-images.githubusercontent.com/5664399/94343897-f9e5c980-004d-11eb-8406-9c8edd8c54db.png)
3、goc run .
![image](https://user-images.githubusercontent.com/

[2020-09-26 15:54] sanren99999 commented on #121
我知道问题在哪了，打扰大家了

[2020-09-26 15:54] #121 closed

[2020-09-27 09:53] wuduozhi opened #122 "求设计文档"
想问下，有相关 goc 的原理/架构设计相关的介绍吗？在线求

[2020-09-28 02:01] CarlJi commented on #122
@wuduozhi sure，we will provide it。Btw，you can also feel free to ask your questions in the WeChat Group.

[2020-09-28 02:09] CarlJi commented on #108
The fix #120 provide a way to let user save the persistent file via hostPath. For the way about ConfigMap which actually need the `goc` deeply integrate with Kubernetes client, i think it is probably too heavy.

let‘s close this issue now, and feel free to reopen or create a new one if you have any more questions. @Naisisor

[2020-09-28 02:09] #108 closed

[2020-09-28 02:28] wuduozhi commented on #122
thank you.

[2020-09-28 08:25] gujing032 opened #123 "有没有提供增量覆盖率的功能呀？"

[2020-10-13 03:43] #122 closed

[2020-10-18 13:08] CarlJi commented on #123
@gujing032 是否可以再具体描述下你这里的"增量"？

我理解的增量场景大概率是 - 作为研发，我提了一个PR/MR, 我只关心我这个PR的里面的代码覆盖率变化情况。而这个场景其实有些考量:
1.  代码放在哪里？github or gitlab？
2. 基准覆盖率结果如何获得？

所以这是个强环境相关的场景。目前goc落地了在Github里基于Prow的增量覆盖率场景，如果大家也使用Prow，可以尝试下: https://github.com/qiniu/goc/blob/master/cmd/diff.go#L51

[2020-10-22 06:39] #103 closed

[2020-10-26 02:59] tongjingran opened #126 "File copy strategy of `goc build` needs to be optimized"
Some files like `unix socket` is not allowed to be copied. When project files contians these file, `goc build .` will return an error. The file copy strategy needs optimize.

[2020-11-05 12:39] HiLittleBig opened #127 "麻烦更新下交流群二维码，谢谢"
麻烦更新下交流群二维码，谢谢

[2020-11-06 01:56] #127 closed

[2020-11-06 01:56] CarlJi commented on #127
@HiLittleBig Thanks for your suggestion.

[2020-11-19 04:01] wuduozhi opened #134 "profile --coverfile 选项支持支持 "not contains" 语义"
$ goc profile --address=http://127.0.0.1:9999  --coverfile="service*",'?!thrift_gen*'  -o=coverage.out

FATA Goc server http://127.0.0.1:7777 return an error: {"error":"failed to filter profile based on the patterns: [service* ?!thrift_gen*], error: filterProfile failed with pattern ?!thrift_gen* for profile git.byted.org/ee/lark/facade/sticker/database/abase_sticker_set.go, err: error parsing reg

[2020-11-19 08:16] CarlJi commented on #134
Thanks for your feedback. This should be caused by the special of [Go regex syntax](https://github.com/google/re2/wiki/Syntax)

To improve user experience，I am thinking about we may provide a new flag like `exceptfile` to do this. ex:
[code]

[2020-12-06 15:41] wuduozhi commented on #134
Are you doing ?

[2020-12-06 15:59] wuduozhi commented on #134
请问你们有完成的时间点了吗？

[2020-12-07 08:43] gavwu opened #137 "cover.Store.GetAll() return a map will potentially cause panic(a map without protection)"
[code]

Proposal:
1. Clone a map and return
2. Support access the map under protection

[2020-12-08 02:27] CarlJi commented on #134
/assign @CarlJi

I will handle it in this week.

[2020-12-08 05:00] CarlJi commented on #137
Great suggestion 👍

[2020-12-10 15:03] gavwu commented on #137
To preserve the meaning of `GetAll`, I prefer to clone a map and return it, potentially leave the overhead to the caller (caller should know this function call will be expensive)

[2020-12-10 15:14] gavwu commented on #126
I am running into the same question, and it is tricky to find out the root cause (which in this case is socket file can not be copied).

[2020-12-10 16:15] wuduozhi opened #140 "goc server 支持通过服务发现获取和运行是注册"
现在是在 goc build 的时候指定 ip:port，能否支持在服务启动的时候通过服务发现，来获取 goc server 的 ip:port ? 场景是 goc server 的 ip 无法固定，同时服务的编译和启动是分开的，有一次编译，多次运行的场景。

[2020-12-11 02:05] tongjingran commented on #126
i will fix it recently

[2020-12-11 06:14] flyqie opened #141 "微信群聊二维码过期"
大家好，README当中的微信群聊二维码似乎已经过期了，各位已经入群的朋友有时间的话可否更新一下？感谢。

[2020-12-11 06:56] CarlJi commented on #141
sure, Thanks @flyqie

[2020-12-11 06:59] CarlJi commented on #140
给goc server 配置个domain，是不是就行了?

[2020-12-11 07:00] #141 closed

[2020-12-14 07:14] wuduozhi commented on #134
hello，请问一下，弄完了没有呀

[2020-12-14 12:16] tongjingran opened #144 "`goc build` failed in build nonStandardLegacy project"
When build nonStandardLegacy project with goc, it will return an error like
`http_cover_apis_auto_generated.go:20:2: cannot find package "gocbuildcd3524726b16" in any of:
	/usr/local/go/src/gocbuildcd3524726b16 (from $GOROOT)
	/Users/xxx/go/src/gocbuildcd3524726b16 (from $GOPATH)`

If using `go build` instead, the binary will build successful.

nonStandardLegacy project: project only use basic go

[2020-12-20 12:33] #137 closed

[2020-12-20 12:34] CarlJi commented on #126
/assign @tongjingran

[2020-12-20 12:34] CarlJi commented on #123
No further questions, closing it now.

[2020-12-21 02:27] #126 closed

[2020-12-21 02:37] lyyyuna commented on #134
Negative lookahead is not supported by the official Golang regex engine: https://groups.google.com/g/golang-nuts/c/7qgSDWPIh_E,
so add a `skipFile` flag is acceptable.

[2020-12-21 02:49] #134 closed

[2020-12-21 03:11] #144 closed

[2020-12-21 03:13] tongjingran commented on #126
@gavwu fixed!

[2020-12-22 08:01] tongjingran commented on #126
new startegy can't copy all files in go1.13, revert.

[2021-01-06 13:18] tongjingran commented on #126
fixed

[2021-01-14 03:55] majian0012002 opened #152 "goc build 不支持指定main-pack路径"
RT, 貌似目前goc build时无法支持指定main包的位置

[2021-01-17 09:31] CarlJi commented on #152
Yes, since we think it may be enough to meet the following scenarios:
* compile a single binary, use `goc build .` under the `main` package
* compile multi services, use `goc install ./...`

I am wondering do you have a strong requirement to let goc works also like `go build [packages]` ? @majian0012002

[2021-01-18 02:30] majian0012002 commented on #152
是的，我们代码混合了c++和go，需要在makefile中集中处理编译阶段，指定package对我们来讲是必要的。并且我认为这是一个很基础的能力，应该让goc build跟go build的使用方式尽量保持一致

[2021-01-18 09:24] CarlJi commented on #152
Sure. Let's put this issue into backlog.

[2021-01-18 09:24] CarlJi commented on #140
No more further requests, closing it.

[2021-01-18 09:24] #140 closed

[2021-01-19 03:26] wxning1107 opened #154 "goc build can't support multi service"
We have multi service in one project, how do i use goc to cover multi service?

[2021-01-19 10:25] CarlJi commented on #154
use `goc install ./...`

[2021-01-19 10:25] #154 closed

[2021-01-19 13:58] lxhao opened #155 "goc profile耗时很长"
当有很多服务注册在goc server上面，服务被销毁后，获取覆盖率文件耗时很长，如果不手动清理，注册的服务会越来越多，耗时也越来越长。  有参数可以设置跟客服端的请求超时不

[2021-01-20 05:33] lxhao commented on #155
指定服务名字清理时，如果服务已经掉线了，也会报错

goc clear --service=xxx

{"error":"Post \"http://172.16.71.81:8899/v1/cover/clear\": dial tcp 172.16.71.81:8899: connect: no route to host"}%

[2021-01-20 05:34] lxhao commented on #155
服务端可以自动清理不在线的address吗

[2021-01-21 03:32] CarlJi commented on #155
这个是说遍历一遍服务消耗的时间很长？(PS: 是否尝试了这个命令 `goc profile --force` ？)

删除服务，用`goc remove` 命令

@lxhao

[2021-01-21 03:36] CarlJi commented on #155
怎样的情况下才能判断服务"不在线"呢？我担心有误伤。

[2021-01-26 03:23] Naisisor commented on #155
我也遇到了相同的问题，在容器实践过程中这是非常常见的问题，以下是我处理的方式

https://github.com/qiniu/goc/blob/60a18d39b7861d748eb36811bab2d0ce749bf520/pkg/cover/server.go#L182

在这行代码下面增加了一下的处理方式，并将 `return` 移除

[code]

这样就可以在 `goc profile` 时自动移除报错的 `service`

[2021-01-26 03:24] Naisisor commented on #155
我也遇到了相同的问题，在容器实践过程中这是非常常见的问题，以下是我处理的方式

https://github.com/qiniu/goc/blob/60a18d39b7861d748eb36811bab2d0ce749bf520/pkg/cover/server.go#L182

在这行代码下面增加了一下的处理方式，并将 `return` 移除

[code]

这样就可以在 `goc profile` 时自动移除报错的 `service`

[2021-01-26 07:56] eyotang opened #157 "Sonar-scan can't parset coverage.out:ERROR: Error parsing coverage info for file /xxx/coverage.out: Invalid go coverage, expect 'mode:' on the first line."
sonar-scan can't parse the coverage.out generated by 'goc profile'

ERROR:
INFO: Load project repositories (done) | time=18ms
INFO: Load coverage report from '/xxx/coverage.out'
ERROR: Error parsing coverage info for file /xxx/coverage.out: Invalid go coverage, expect 'mode:' on the first line.
INFO: Sensor SonarGo [go] (done) | time=523ms

template with one blank in instrument.go
mux.HandleFunc("

[2021-01-26 11:27] eyotang commented on #157
after #158 ，this issue has been solved.

[2021-01-26 11:27] #157 closed

[2021-01-27 09:12] tang-xiao-zhuang opened #160 "goc收集覆盖率时怎么获取代码总行数/覆盖行数"
既然可以拿到覆盖率,那就肯定有覆盖行数和相应的总行数,这需要通过什么来获取呢

[2021-01-27 09:49] HUxiaoAlinNG opened #161 "有没最新的进群二维码"
请最新进群二维码

[2021-01-27 13:10] CarlJi commented on #161
hi, the wechat picture in README.md is up to data, Please check.

[2021-01-27 13:10] #161 closed

[2021-01-28 08:03] tongjingran commented on #160
直接通过 `goc profile` 获取到的coverprofile数据如下形式：
`github.com/qiniu/goc/goc.go:21.13,23.2 1 1`
这里的内容就是通过类似上面的变量`CoverageVariableName`得到。其基本语义为
"**文件:起始行.起始列,结束行.结束列 该基本块中的语句数量 该基本块被执行到的次数**"
基于此，可计算覆盖行数和总行数。
目前goc仅提供最原始的coverprofile。

[2021-01-28 08:36] eyotang opened #162 "goc profile will return FATA dial tcp xx.xx.xx.xx:36267: connect: connection refused"
**goc profile**
return FATA dial tcp xx.xx.xx.xx:36267: connect: connection refused

REASON:
no deregister to goc server while process exit

SOLUTION:
detect the signal. send deregister for all addresses to goc server to remove the service.

[2021-01-28 15:24] tang-xiao-zhuang commented on #160
这样算是可以算出来,但是项目比较大,这样生成的文件去解析的话很不方便,效率很低,以后会推出直接获取总行数,覆盖行数吗?

[2021-02-17 09:36] CarlJi commented on #162
Hi @eyotang , thanks for your solution!

[2021-02-17 09:36] #162 closed

[2021-02-17 09:46] CarlJi commented on #160
这样是否方便呢? 一条命令就可以拿到总的statment数量
`goc profile | awk '{result+=$2} END {print result}'`

这句是希望`goc server` 提供一个API吗？单纯的行数，感觉需求有点小，你这边有更多的分析场景需求嘛？

[2021-02-17 09:50] CarlJi commented on #155
PR #163 当已经修复了这个问题，先关闭。

[2021-02-17 09:50] #155 closed

[2021-02-25 02:29] CarlJi commented on #53
/assign @lyyyuna

[2021-03-01 11:08] q287524305 opened #171 "mac 执行完goc build . --debug之后无法使用control+c关闭程序"
goc version    v1.3.5
mac version   Big Sur 11.2.1
go version      go1.16 darwin/amd64

测试程序：

`package main

import (
	"fmt"

	"github.com/gin-gonic/gin"
)

func main() {
	test()
	r := gin.Default()
	r.GET("/ping", func(c *gin.Context) {
		c.JSON(200, gin.H{
			"message": "pong",
		})
	})
	r.Run() // listen and serve on 0.0.0.0:8080 (for windows "localhost:8080")
}

func test() {
	fmt.Println("he

[2021-03-03 09:57] fifthszsu opened #172 "远程获取goc的内容，耗时很长并且无法获得正确的渲染"
在Goc Coverage的插件中，Goc server Url 配置了另一台host的地址（goc服务所在的host）
然后在host上面能看到链接信息，但是响应时间很长，需要10几s
对比host本地的监听只有100多ms
host本地的监听能够正常渲染被执行到的代码，但是远程链接过去的监听无法渲染到绿色的代码块（是turn on状态）

一开始怀疑是网络问题，但是两部机器互相ping都是只有100多ms。。请问是否是性能问题，能否改善一下

[2021-03-03 10:13] CarlJi commented on #171
/assign @CarlJi

[2021-03-04 11:48] CarlJi commented on #172
这里面的`Goc Coverage` 是指Goc 的VSCode插件吗？

问题描述我有点没明白. 上面的10+s的log 能贴下吗？

cc @lyyyuna

[2021-03-09 06:10] #160 closed

[2021-03-09 06:14] tang-xiao-zhuang opened #175 "goc收集代码覆盖率数据跳动,方法执行没有被统计"
项目中集成了goc,多次统计发现,一会是50.7%,一会是63%,其中涉及到2个go文件中的方法没有被统计,一会又一会没有,请问是什么问题(注: 每一分钟执行一次goc profile出现的问题)

[2021-03-10 11:15] CarlJi commented on #175
goc profile 获取的数据都是实时的。建议还是实际确认下代码逻辑，看看代码是否应该被一直执行到。

以我们为例，在分布式场景下，即使是相同的集测，在不同场景和被测环境下执行，所覆盖到的代码也有可能是不一样的，因为其涉及到的时间、流量、延迟、实例等等因素。

@tang-xiao-zhuang

[2021-03-17 08:24] uveege opened #176 "naming conflict causes redeclaration issue"
when `goc build`, there is a chance that we use a name which is used by goc code, such as **registerHandlers**,
we use this name as well, so I failed to build it:

[code]

[2021-03-17 08:29] CarlJi commented on #176
Hi @uveege , thanks for your question. Let's enhance it.

[2021-03-18 05:23] #171 closed

[2021-03-18 07:57] uveege opened #177 "cannot connect to services when `goc profile` (IPv6)"
**Original Question:**

in my environment, services are registered with address in `xxx_profile_listen_addr`, but it won't kick in :
[code]
`gin.Context.ClientIP`(pkg/cover/server.go:138) returns a IPv6 address, while actually my service only listens in IPv4:
[code]
therefore, `goc profile` won't work:
[code]

**Advice from me:**
1. no need to check if realIP == host in registerService, just keep

[2021-03-18 08:06] uveege commented on #177
another weird thing is, when I run `goc register` in terminal, the `realIP` is 127.0.0.1,
but when I run in shell script, I got ::1

[2021-03-22 09:10] #175 closed

[2021-03-22 12:36] CarlJi commented on #177
hi @uveege , based on [the information here,](https://github.com/gin-gonic/gin/issues/604#issuecomment-214758050) i am guessing your client is behind a proxy.

To enhance this scenario, i prefer to add a rule that only replace the IP when the ClientIP belongs to IPV4 model. Please review the linked PR.

[2021-03-23 08:09] #177 closed

[2021-03-25 06:38] lyyyuna commented on #33
goc binary in qiniu bucket is maintained manually, for binary in release page is upload automatically now.

[2021-03-25 06:38] #33 closed

[2021-03-25 09:42] lyyyuna opened #179 "goc v2"
As most of our users come from China for the moment, the v2 proposal will be written in Chinese first.

goc v2 版本规划开启。

## 时间表

预计 Go 1.17 发布后（2021.8.1）发布 beta 版 goc v2。

- [ ] 2021.5.1 完成各新功能的收集与设计工作
- [ ] 2021.7.1 完成各新功能编码工作
- [ ] 2021.7.15 在七牛内部和志愿者工程内完成 alpha 版的测试验证工作
- [ ] 2021.8.1 发布 beta 版

## 提案原则

1. goc v2 会重写
2. goc v2 在对外接口和命令行参数上不考虑向前兼容性

## 提案列表

1. goc 移除对 `GOPATH` 工程的支持，只支持 Go modu

[2021-03-26 11:52] tongjingran commented on #48
/assign @tongjingran

[2021-04-02 03:29] q287524305 commented on #179
建议增加diff 功能

[2021-04-02 06:05] lyyyuna commented on #179
@q287524305 详细说一下。增加的 diff 功能和现有的 goc diff 有什么区别

[2021-04-21 03:00] uveege commented on #123
in my view, the `increment`/`change`/`delta` is not for `previous coverage` but `code`, which means we only aim at how many new codes we have covered in a new branch.
(I think the manager tends to regard more about the former, but as a QA, I the later)

by my mean, I use `git diff` to get code changes, then joint profile to filter what has been covered in our test, so that QA can add more cases fo

[2021-04-21 07:28] jueerwl opened #181 "Fail to build if main.go declare log"
./http_cover_apis_auto_generated.go:11:2: log redeclared in this block     previous declaration at ./main.go:8

[2021-04-21 07:56] CarlJi commented on #181
The log library goc used comes from golang official package: `https://golang.org/pkg/log/`, while seems you redeclared it in your main.go:8

can use please share with us why you redeclared it? @jueerwl

[2021-04-21 09:05] jueerwl commented on #181
开发人员需要打log来输出程序信息，log这个变量也是打日志非常通用的变量名，所以被重复定义的可能性很高哈。在每一个方法都需要同样的log时，说服开发每个方法定义一次，比较困难

[2021-04-21 09:19] RicardoHa commented on #152
请问main方法所在文件一定要命名为main.go嘛？对编译的项目的文件路径有什么要求吗？

[2021-04-21 09:43] RicardoHa opened #182 "goc无法编译"
报错信息：./goc: cannot execute binary file: Exec format error
换成go直接编译就可以
请问goc编译对项目的文件路径有什么要求吗？main方法所在文件一定要放在src下边嘛？以及main方法一定要命名为main.go嘛？
请问如下路径是否支持：

src
  --TestService
     --service
        --proxy
           --proxy,go
     --ortherCode
           --xx.go
其中main方法放在proxy.go中。 其他代码放在ortherCode中

[2021-04-23 02:30] CarlJi commented on #182
`Exec format error` 这个错一般是二进制格式相关，比如在linux编译的二进制，拿到windows平台上用。
@RicardoHa 建议检查下。

[2021-04-23 02:36] RicardoHa commented on #182
发现在x86下可以编译，arm下会有相关报错

[2021-04-23 04:13] CarlJi commented on #182
我上面的说法，是指要检查下 goc这个二进制，是针对哪个平台编译出来的。不同的平台，选用的goc是不一样的。 @RicardoHa

[2021-04-30 09:09] uveege opened #184 "propose to support the coverage of run-once command by golang"
In my project, I use command-like go binary file to do some periodically job such as scanning.

in that case, we cannot execute `goc profile` properly, for the command will finish and disconnect to goc server.

[2021-05-12 07:16] sword-jin opened #187 "goc build . FATA Fail to build: fail to list package dependencies"
很多docker images没有 bash，需要检测bash环境

![image](https://user-images.githubusercontent.com/11711621/117934208-039a1400-b335-11eb-9cfb-ca3b6b3129b2.png)

[2021-05-12 07:19] CarlJi commented on #187
Good suggestion, we will enhance it. thanks @rrylee

[2021-05-14 02:26] Naisisor opened #188 "x509: certificate is not valid"
[code]
Dockerfile
[code]

[2021-05-16 02:39] CarlJi commented on #188
This should be related with your environment like os, docker, etc, not related with goc.

I do a simple search, and got this https://github.com/docker/for-linux/issues/248#issuecomment-371068001, please check whether it is helpful.

[2021-05-24 01:59] CarlJi commented on #188
no more comments, closing this issue.

[2021-05-24 01:59] #188 closed

[2021-05-24 02:00] CarlJi commented on #182
没有进一步的反馈，关闭issue。

[2021-05-24 02:00] #182 closed

[2021-05-27 03:22] HakunamatataLeo commented on #179
goc 微信群有么 @lyyyuna

[2021-06-04 02:24] CarlJi opened #193 "Optimize the README file to give user a better way to install goc"

[2021-06-04 02:28] CarlJi opened #194 "make `goc profile` command interact with the services under test directly"

[2021-06-05 08:46] aditya28sarin commented on #193
Can you assign this issue to me?

[2021-06-07 05:29] CarlJi commented on #193
/assign @aditya28sarin,

Appreciate it very much if you can help.

BTW, what's your idea to do this? my original thought is to provide a command like curl to download the latest release binary, extract it and move it into bin path. so that user can use `goc` after executing that directly.

[2021-07-20 02:33] QiAnXinCodeSafe opened #201 "There is a vulnerability in gin v1.6.3,upgrade recommended"
https://github.com/qiniu/goc/blob/e7d3c61f48f36f91b7291595bade4d2fab68fdfb/go.mod#L6

CVE-2020-28483

Recommended upgrade version：v1.7.2

[2021-07-21 04:12] CarlJi commented on #201
Thanks @QiAnXinCodeSafe , we will handle it.

[2021-07-21 04:14] dmc420 opened #202 "建议goc支持管理服务包对应的代码版本、分支等信息"
需求场景是这样的：
A机器部署了goc server
B机器下载代码并且编译覆盖率包（流水线编译，B机器不固定）
C机器部署被测二进制包，并注册在A机器的goc server
D机器接收覆盖率profile数据，并且解析覆盖数据并行展示（自己做的覆盖率报告展示平台）（此时需要下载编译时的同一份代码）

在A机器生成profile文件的时候，不知道编译时的代码commit_id，导致D机器上检出对应commit_id的代码时不好做
目前是在流水线上编译时，同步导出commit_id信息到文件中，commit_id跟随二进制包流转，这种体验会有其他的问题

goc是否可以支持编译的时候将一些信息，如commit_id写入其中，并且在注册到goc server时，在goc server也保存相关信息，于是在goc profile输出覆盖率数据的时候，可以同步输出代码的版本信息，便于覆盖率数据的解

[2021-08-02 08:57] dmc420 opened #211 "Suggest to support branch coverage"
分支覆盖

 - 在实践中作为最小的测试标准
 - 能发现无法执行到的程序分支
 - 无法发现缺失的分支
 - 没有测试到分支的组合

覆盖率：
分支覆盖 = 已执行的分支数目 / 分支总数目 * 100%

**每一条边即每一条控制流（有向线）都走过了，才为 100% 分支覆盖**

[2021-08-03 01:58] CarlJi commented on #202
Thanks  @dmc420

听下来是个比较有用的需求，我们记录下。

[2021-08-05 03:23] zengcheng0118 opened #214 "goc clear 这种清理数据的时候能跳过已下线的服务吗"
![image](https://user-images.githubusercontent.com/31786750/128285866-3cea2269-c048-4db0-b884-0c195e1ebd07.png)

[2021-08-05 03:45] lyyyuna commented on #214
我猜大部分人 goc profile 的时候也想默认跳过

[2021-08-06 03:00] #201 closed

[2021-08-06 03:02] #193 closed

[2021-08-10 03:32] SilvaXiang opened #215 "麻烦更新下二维码，用QQ群不是更好吗..."
麻烦更新下二维码，用QQ群不是更好吗...

[2021-08-15 09:03] CarlJi commented on #215
推荐用微信哈，qq群用于工作场景，感觉不多。 @SilvaXiang

[2021-08-15 09:04] #215 closed

[2021-08-24 03:39] duting2020 opened #220 "goc build后无法生成_svrs-address.txt文件，然后执行插桩后的二进制文件，提示注册中心无法向服务写入"
error occurred:Post "http://127.0.0.1:7777/v1/cover/register?name=main&address=http://XX.XX.XX.4:41472": dial tcp 127.0.0.1:7777: connect: connection refused, try again

[2021-08-31 09:39] tang-xiao-zhuang opened #221 "支持基于 Pull Request 的增量代码覆盖率报告如何操作"
支持基于 Pull Request 的增量代码覆盖率报告如何操作呢,有指令参考吗?

[2021-08-31 10:31] hick opened #222 "qrcode of goc WeChat Group is expired"
很高兴今天找到 goc ,  搜索好久才发现这个应该是我需要的.

加微信群的二维码过期了哈,   求更新---另外需要的话我进群以后我可以做一个自动更新入群二维码的脚本, 哈哈哈

对 goc 比较有想法和期待,  时间和能力允许的话期待能参与开发

[2021-09-01 15:24] tang-xiao-zhuang opened #223 "How to use goc diff"
Support code coverage diff based on Pull Request,Are there any documents or simple examples? There is very little information on goc online, otherwise it will be difficult to use

[2021-09-02 06:33] lyyyuna commented on #221
基于 PR 的增量覆盖率暂时没有通用的解决方法。七牛内部是通过 Prow 这个 CI 系统来做的，不具备通用性。

[2021-09-02 13:55] tang-xiao-zhuang commented on #221
那如果我们想要适配,通过 Prow 这个 CI 系统来做,有这方面的指导建议不

[2021-09-03 11:05] alonelucky opened #226 "Why does `goc run agentport` not take effect"
In file `cmd/run.go`
[code]
Small change to:
[code]
In this way, the port number can be fixed during debugging.

[2021-09-03 13:33] lyyyuna commented on #221
@tang-xiao-zhuang
目前这个方案与七牛云存储、prow 绑的太死，非常不建议其它公司也这么做。

[2021-09-04 11:52] CarlJi commented on #226
Good suggestion, appreciate if you can help for this enhancement. Thanks @alonelucky

[2021-09-06 01:29] alonelucky commented on #226
OK. I try it.

[2021-09-06 01:59] tang-xiao-zhuang commented on #221
目前你们这边的实现有开源吗,我们想研究研究

[2021-09-08 05:14] lyyyuna commented on #221
@tang-xiao-zhuang 可以看 goc diff 相关的代码

[2021-09-16 14:43] Yanci516 opened #236 "Fail to move the project to temporary directory"
INFO[2021-09-16T22:38:16+08:00][cover/cover.go:228] go list cmd is: [/bin/bash -c go list -json ./...]
INFO[2021-09-16T22:38:17+08:00][cover/cover.go:240]
INFO[2021-09-16T22:38:17+08:00][build/tmpfolder.go:82] Tmp project generated in: /tmp/goc-build-152a445893ed
INFO[2021-09-16T22:38:17+08:00][build/tmpfolder.go:86] mod project? true
ERRO[2021-09-16T22:38:17+08:00][build/tmpfolder.go:49] Fail to

[2021-09-19 01:09] #226 closed

[2021-10-11 07:45] sardChen opened #238 "如何快速添加分值覆盖率以及路径覆盖率的支持，有什么好的建议吗"

[2021-10-13 05:46] CarlJi commented on #172
no more comments, closing

[2021-10-13 05:46] #172 closed

[2021-10-14 08:12] hanjk1234 opened #239 "当构建项目使用软连的时候失败"
构建项目的时候如果使用软连 ，就比较尴尬
比如  软连目录是  /tmp/go-build1634196769/src/git.xiaosankeji.com/guarana/spiderman
实际目录： /home/xiaosan/spiderman
ERRO[2021-10-14T15:33:07+08:00][build/gomodules.go:38] Failed to Copy the folder from /tmp/go-build1634196769/src/git.xiaosankeji.com/guarana/spiderman to /tmp/goc-build-7fbd82088fef, the error is: symlink /home/xiaosan/spiderman /tmp/goc-build-7fbd82088fef: file exists
E

[2021-11-09 10:13] prefect12 opened #242 "wechat group QCcode has expired"
Can soneone update

[2021-11-11 07:50] xieziqiang opened #243 "你好，请问下能否支持命令行工具类项目的覆盖率？"
当前，goc 只支持服务类的覆盖率，执行 goc profile 时需要去连接服务获取覆盖率信息，如果是命令行工具类项目，执行一下就退出的话，就无法获取到覆盖率信息，请问能否支持下这类项目的覆盖率？

[2021-11-11 07:55] xieziqiang commented on #243
能否运行时加个参数，程序退出的时候把覆盖率dump到文件 ？

[2021-11-11 10:59] CarlJi commented on #243
@xieziqiang 你好，是否可以详细说下你的业务场景呢，比如为啥需要收集CLI的工具呢。这方便我们评估下这个需求。

[2021-11-11 11:53] xieziqiang commented on #243
@CarlJi 我们有几个 golang 开发的命令行工具，这些工具都有各自的自动化任务，任务就是去执行不同的命令/参数，然后校验结果是否正确，每条命令执行完都会退出产生一个cov文件，最后我们再把所有的cov合并生成覆盖率文件，我们需要收集这些自动化任务的代码覆盖率来看自动化覆盖了多少代码。
golang 开发这种工具类的项目应该挺多的，所以希望 goc 能支持下这种场景，谢谢

[2021-11-15 09:07] jackiezero opened #245 "请问是否有工具把结果生成类似jacoco的那种report"

[2021-11-15 09:18] CarlJi commented on #242
@prefect12 Thanks for your comments。we appreciate issues if you have any questions.

[2021-11-16 07:59] CarlJi commented on #243
考虑这个作为一个Enhancement，大家若觉得这个需求有必要，请顶下让我们看到。

[2021-11-16 08:00] #242 closed

[2021-11-16 08:00] #238 closed

[2021-11-16 08:10] CarlJi commented on #123
Sure, the kind of scenario you're talking about seems make sense. and i think combining use `git diff` and `goc profile` is enough here. no need to use `goc diff`.

By the way，i am reopening this issue in order to let more users seeing these discussion easily.

[2021-11-16 08:12] CarlJi commented on #223
Agree, but current implement is based on [Prow](https://github.com/kubernetes/test-infra/tree/master/prow). For more discussion, please refer to #123

[2021-11-16 08:12] #223 closed

[2021-11-16 08:12] CarlJi commented on #220
no more comments, closing it.

[2021-11-16 08:12] #220 closed

[2021-11-16 08:13] CarlJi commented on #222
微信群不便于维护，我们更倾向于接受大家的issue。欢迎大家提issue。

[2021-11-16 08:13] #222 closed

[2021-11-16 08:20] xieziqiang commented on #243
有必要 +1 ，希望可以早日支持这个功能

[2021-11-18 04:03] pcr1234567 commented on #243
+1

[2021-11-18 09:33] flatShoes opened #246 "在k8s 中部署，_svrs_address.txt中IP不是真正来源IP，导致获取goc profile执行失败"
在k8s 中部署，server与被测服务不在一个机器上，被测服务向server注册时的IP不是正真被测服务的IP，导致获取goc profile执行失败，怎么解决呢？

[2021-11-18 10:22] CarlJi commented on #246
@flatShoes 你可以试试这个版本呢 https://github.com/qiniu/goc/tree/v2

goc v2 把底层的通信协议改为了websocket了，这样更方便云原生场景下使用。

欢迎使用，如有问题我们会提供进一步的支持。

[2021-11-18 11:23] flatShoes commented on #246
@CarlJi 感谢支持，我试试。再顺便请问一下，是否有官方image可以直接使用？

[2021-11-19 02:47] CarlJi commented on #246
goc server不依赖任何外部组件，相对轻量，所以我们没有考虑提供容器镜像。

[2021-11-19 09:52] wangyingsi opened #247 "goc形式运行gopath项目报错，辛苦帮忙看下，谢谢！"
go命令运行正常，详细见截图：
![8ba0e39db0d650062414dffab74ebae](https://user-images.githubusercontent.com/33273904/142602425-6ff05967-b7d0-435f-8f76-26fc3ffbf76e.png)
goc的形式运行报错，详细见截图：
![581bd3db13f0fe32fe29337811fe4f5](https://user-images.githubusercontent.com/33273904/142602521-e306131b-7b7f-451e-99e2-97c0849e4baf.png)
代码结构：goctest/src/mian.go
main.go的代码如下：
package main

import (
    "fmt"
    "log"
    "net

[2021-11-19 09:54] wangyingsi commented on #243
+1

[2021-11-22 10:31] CarlJi commented on #247
@wangyingsi hi, what's your `go version`?

[2021-11-22 10:33] CarlJi commented on #245
可以在网上搜搜哈。

非goc相关，我先关闭issue啦。

[2021-11-22 10:33] #245 closed

[2021-11-22 11:17] wangyingsi commented on #247
1.12

[2021-11-22 11:17] wangyingsi commented on #247
1.12

[2021-11-22 11:20] wangyingsi commented on #247
![image](https://user-images.githubusercontent.com/33273904/142852697-2e87a292-acdb-40fd-9c8a-baf0ebe8eef8.png)
1.12.4

[2021-11-22 15:06] #247 closed

[2021-12-04 08:31] fananchong commented on #187
![image](https://user-images.githubusercontent.com/20277955/144703090-8052e200-f0eb-4123-bf25-27ad50f99879.png)

[2021-12-04 08:42] fananchong commented on #187
![image](https://user-images.githubusercontent.com/20277955/144703398-e03cb433-e600-40a5-ab7f-392d4cf44d06.png)

[2021-12-04 08:42] fananchong commented on #187
提示不友好

[2021-12-06 03:44] CarlJi commented on #187
是否有具体建议呢？ @fananchong

[2021-12-13 01:55] susanaochaonan opened #250 "在1.3.9的版本中，通过k8s启动的定时任务服务，在执行完成后，pod节点被删除，但是goc list里的实效ip没有被删除"

[2021-12-14 03:35] lyyyuna commented on #250
ip 不会主动删除，需要手动清除， goc remove

[2021-12-15 01:53] CarlJi commented on #250
设计上确实希望退出时清理IP。这里如果实际没有，那就可能是有bug。

是否可以帮忙调试下呢？
1. 首先看看退出时，被测程序是否打印了这行log: https://github.com/qiniu/goc/blob/master/pkg/cover/instrument.go#L299
2. 同时看看goc server这一侧，是否接收到remove的情况，代码实现在这里: https://github.com/qiniu/goc/blob/master/pkg/cover/instrument.go#L262

信息越足，越方便我们定位问题。谢谢~ @susanaochaonan

[2021-12-15 07:32] lyyyuna commented on #250
@CarlJi 程序自己退出（无论正常或异常）不会有 signal。在 Go 里面没有 atexit 行为，见[讨论](https://groups.google.com/g/golang-nuts/c/qBQ0bK2zvQA)，所以没有一种万全的方法来做全局的 "catch"。

P.S. 使用 os/signal 也有缺点，用户程序原有的 signal 可能会比注入的 signal 先执行退出，导致 deregister 失败。

[2021-12-15 15:30] CarlJi commented on #250
部分场景有效也是好的。我们能明确目前方案的局限就好。

[2021-12-25 03:34] heqg commented on #215
@CarlJi  @SilvaXiang 还有最新的 交流群吗？ 谢谢

[2021-12-28 00:21] zhanglianxin123 commented on #250
当goc服务停止重启后，如果有服务在goc停止时间内停止了，将会出现list有无效ip的问题
用的方式是在profile --force指令里判断是否清理，再加了一个定时任务的方式
发现在建立连接时好像没有定义超时时间

[2021-12-28 05:53] CarlJi commented on #250
"建立连接时好像没有定义超时时间" 这里是否可以具体下？ @zhanglianxin123

[2021-12-28 06:07] zhanglianxin123 commented on #250
就是在cover.NewWorker(addrInfo).Profile(cover.ProfileParam{})这里不是需要建立连接吗，然后没看到timeout的设置

[2022-01-17 11:41] wangjielalala opened #253 "源码级的插桩，所以势必会破坏源码。所以 goc 采取的策略是首先把整个工程拷贝到临时目录,这里是指拷贝到临时目录就不影响源码构建了吗"
参考: https://www.lyyyuna.com/2021/12/12/how-to-collect-coverage-in-go/   @lyyyuna

[2022-01-18 02:40] lyyyuna commented on #253
破坏源码 应理解为 对源码有改动。
临时目录的意图是，不想在原目录处变动使用者原来的代码。

[2022-01-18 03:13] #253 closed

[2022-01-18 03:24] wangjielalala opened #254 "版本: v1.3.9, 有两个微服务使用同一个注册中心 执行 goc profile > cover.out && go tool cover -html=cover.out 报错,如下图"
![image](https://user-images.githubusercontent.com/54579461/149865323-596efb11-7338-4f57-aec0-927060e1b36f.png)
并且我尝试在go module 路径下面执行,如果是有两个微服务,在其中一个服务go mod 文件路径下面执行 上面命令 ,会报上面图片类似的错误,找不到另外一个库的路径,想问一下这个问题应该怎么解决 @lyyyuna @CarlJi

[2022-01-18 08:31] wangjielalala commented on #254
1、goc profile 可以支持添加 --sevice 参数, 输出对应的服务
2、go tool cover -html 必须要在go mod 路径下面执行

[2022-01-18 08:31] #254 closed

[2022-01-20 04:58] wangjielalala opened #255 "goc build -o 参数 二进制路径有可能出现与想要的不符"
场景: 当一个module中包含多个main模块,有可能出现在go mod 路径下的 执行: goc build . , 输出的二进制文件的路径 却不在go mod 路径下面
源码:
build/build.go 133:145
Pkgs          map[string]*cover.Package
// fix #43
// use target name from `go list -json ./...` of the main module
	targetName := ""
	for _, pkg := range b.Pkgs {
		if pkg.Name == "main" {
			if pkg.Target != "" {
				targetName = filepath.Base(pkg.Target)
			} else {
				targetName

[2022-01-20 09:12] lyyyuna commented on #255
一个 module path 下只有一个 main package。
go build 最多只会输出一个二进制，且多个 main 时候本来就是一个不常用的行为（只会编译检查无输出，打包按我理解没太多用）

[code]

所以 goc build ./... 选择了简单处理。

[2022-01-20 09:15] lyyyuna commented on #253
研究源码的化，看 v2 分支吧。

[2022-01-20 09:25] wangjielalala commented on #255
直观理解,有些项目多个工程放在同一个仓库当中,这样在某个工程.目录main模块编译的时候,

[2022-01-20 09:50] lyyyuna commented on #255
PR is welcome

[2022-01-20 10:57] CarlJi commented on #255
看下来这里只要follow `go build . `的行为就好.

[2022-01-21 05:32] wangjielalala opened #256 "目前goc工具好像是不能支持,类似于 go tool cover -html/-func 这样的能力,支持导出 html 文件以及函数具体覆盖率"
目前goc 只能导出 cover.out 覆盖率的信息,但是不能知道总的覆盖率,后续会不会补上 go tool cover -html/-func  这样的能力! @lyyyuna

[2022-01-21 06:10] wangjielalala commented on #256
有没有微信交流群!

[2022-02-07 09:58] maxiloEmmmm opened #259 "question: 同一个项目多个pr如何生成多个service注册到一个goc server"
在注册时以二进制名字作为注册 这样无法区分多个不同版本的实例 不想merge在一起
https://github.com/qiniu/goc/blob/45aee23e7e6d995982c128f1047f9e78cca2fb43/pkg/cover/instrument.go#L225

mark: 项目二进制名固定 有一定的依赖

可以加入一个前缀选项么？
[code]

[2022-02-07 10:26] #259 closed

[2022-02-10 07:53] maxiloEmmmm opened #260 "v2 watch api"
文档中路径应为 /v2/cover/ws/watch

[2022-02-11 03:26] maxiloEmmmm commented on #260
@CarlJi pr了 😁

[2022-02-11 08:31] Flappyboy commented on #243
+1

[2022-02-14 02:19] CarlJi commented on #260
fixed by #261

[2022-02-14 02:19] #260 closed

[2022-02-19 14:49] Cccrayon commented on #243
想请问一下现在有办法将覆盖率模块独立进行使用吗，和题主描述的场景类似

[2022-02-21 09:32] qqmaxinyue commented on #215
微信群还能进么

[2022-02-21 10:00] qqmaxinyue opened #263 "获取指定服务的覆盖率"
当一个注册中心有多个服务注册时，我运行goc profile会将所有的服务都输出覆盖率，我试过使用goc profile --center=xxx的方式，这可以得到特定服务的覆盖率，但是覆盖率的的显示顺序好像不太一样（行数大小不是增序排列的）。还有在使用goc rmove的时候如何异常指定服务呢？

[2022-02-21 11:05] CarlJi commented on #263
@qqmaxinyue 是否可以重新组织下问题呢，有点不大明白。

[2022-02-21 11:20] qqmaxinyue commented on #263
我在运行goc profile --center=xxx 的时候，如图 ：
![image](https://user-images.githubusercontent.com/33690982/154945185-e1aec163-9715-44de-834c-308e147493b1.png)
而直接运行goc profile的时候，是这样的：
![image](https://user-images.githubusercontent.com/33690982/154945393-2f4a2ec5-4c45-4b15-a1b6-9881f37fabe5.png)
（另：现在还有vx群么）

[2022-02-21 11:22] qqmaxinyue commented on #263
我想表达的是被测行数增长并不是升序的（更像一种随机....  @CarlJi

[2022-02-21 11:27] qqmaxinyue commented on #263
![image](https://user-images.githubusercontent.com/33690982/154946244-57111112-1c61-4f8a-89ba-76c9cc9f1d3e.png)
我在运行goc list的时候显示有两个服务注册了，运行goc profile的时候会同时输出两个项目的覆盖率，我想要获得指定服务的覆盖率，于是用的 goc profile --center=http://127.0.0.1:42145,结果是能得到该项目的覆盖率，但是顺序好像有点不对（如上图

[2022-02-21 11:31] CarlJi commented on #263
看起来你应该用`goc profile --address=http://127.0.0.1:42145`

其他的使用姿势，可以尝试 `goc profile --help` 查看

[2022-02-21 11:37] qqmaxinyue commented on #263
感谢~ 确实应该用的address...

[2022-03-11 06:42] chaishare opened #265 "More friendly result prompt"
![image](https://user-images.githubusercontent.com/101385313/157815814-a3f2a356-2974-48c5-a09a-77644f9ff5ba.png)
As a first-time user of your tool, I don't know what the displayed results mean, I hope you can explain it in readme.md

[2022-03-11 07:49] CarlJi commented on #265
@chaishare Thanks，good suggestion。

[2022-03-13 07:54] #265 closed

[2022-03-14 09:41] chaishare opened #267 "别的工程接入这个工具时需要做什么呢？"
我看到demo项目中，有一个这个文件，是所有的接入项目都需要具备这个文件吗
![image](https://user-images.githubusercontent.com/101385313/158146100-66cca682-696a-4235-a3a1-90aa28e631c5.png)

[2022-03-14 10:42] CarlJi commented on #267
@chaishare 可以看看中文版的README哈，里面也有相关的博客建议原理。

[2022-03-16 07:04] wangjielalala opened #269 "为什么使用mode 为watch 不能跟 count 模式共存呢"
![image](https://user-images.githubusercontent.com/54579461/158534728-9e8b6d23-27a7-44b0-a648-3af29ce25398.png) @carter2000 @lyyyuna

[2022-03-16 07:15] wangjielalala commented on #269
还有我并不大清楚watch这个模式的用途
![image](https://user-images.githubusercontent.com/54579461/158536192-cb83eeff-96d5-4ac1-895c-83821438ca05.png)
从图片中watch的数据看来并不大知道是哪个服务的数据 !

[2022-03-17 07:53] jialechan opened #270 "请推出ARM架构的。谢谢"
如题

[2022-03-17 11:37] lyyyuna commented on #270
v2 分支支持交叉编译

[2022-03-18 01:36] CarlJi commented on #270
@lyyyuna  我们release的包，可以相应的也打包一个。

[2022-03-18 01:37] CarlJi commented on #267
no more comments, closing.

[2022-03-18 01:37] #267 closed

[2022-03-21 13:28] wo2653880 opened #271 "覆盖率数据解析失败"
goc产物里面这两个地方不统一
![wecom-temp-1cc9dae20e1522938bfc6a309f2c26e4](https://user-images.githubusercontent.com/19966052/159270689-8d580fbd-03ec-4009-a0c0-2b1fd2295dd2.png)
![wecom-temp-79e74a36429eb7a2213559fe3b5622e7](https://user-images.githubusercontent.com/19966052/159270718-a7a7fab8-cda2-475f-a2fd-9b336ddaf849.png)

[2022-03-22 02:12] CarlJi commented on #271
@wo2653880 这两份profile，渲染后的代码是怎样的呢？是否有明显区别？

[2022-03-23 03:18] maxiloEmmmm opened #272 "v2 是否会支持cover watch message 携带具体service id及extra"
是否可以pr这一主题

[2022-03-23 03:20] maxiloEmmmm commented on #269
count 和 watch是一样的
不一样的地方是在倒桩收集时会同时发送到通道并通知到server
server提供了cover watch接口 可以用作及时触发覆盖率变化的通知

[2022-03-23 10:38] maxiloEmmmm commented on #272
还有pkg/build/inject.go:267
这里如果mode是set 可以只有0 -> 1的时候才发通知到通道
可以提供个选项？

比如mode是set时 通过watch想实际变化后生成总覆盖率
但是现在的watch只要触发倒桩代码就会通知 假如有很多相同代码版本的service就会merge消耗cpu很多
这边暂时用了rate来限制

[2022-03-24 02:40] CarlJi commented on #272
听起来是个挺合理的需求，非常感谢 @maxiloEmmmm

[2022-03-24 02:45] CarlJi commented on #272
另外，你这边怎么会要用到这个watch的能力呢？具体场景是怎样的呢？

[2022-03-24 02:59] maxiloEmmmm commented on #272
因为service不确定什么时候停止 也就是disconnect, 可能出现service停了然后去获取profile获取不到的情况
想着既然我不知道你什么时候停 那就只要变化了我就落地一次 同时采用rate和dirty机制(也就是落地过程中watch变化了)保证尽可能的获取最新的覆盖率

这边大概实现：
extra会是 服务名_commitID
一个服务会跑多个版本去测试

再跑一个listener服务去watch goc server
拉取所有service 然后通过extra聚合落地

[2022-03-25 02:56] jialechan opened #273 "如何一次过remove已经disconnect的service？"
如题

[2022-03-25 03:03] jialechan opened #274 "如何清除所有service已经生成的覆盖率？"
现在场景是这样的：
有A，B两个service，他们之间有相互调用。
现在修改了B service并重新部署。
希望是把A、B所有的已经生成的覆盖率都清空，然后再重新调用接口，生成全新的测试覆盖率报告。

这个应该怎么做呢？

[2022-03-25 03:04] #270 closed

[2022-03-25 09:22] #274 closed

[2022-03-29 08:14] lyyyuna commented on #272
watch 会设计成怎样我还没有很明确的想法，目前是维持在 demo 程度。

虽然 watch 功能想法很好，但也确实大部分用户包括我们内部还是只用 get 功能。

[2022-04-16 02:50] chumincc opened #279 "coverage block mismatch"
启动了两个服务，执行goc profile get收集时报如下错误：不匹配是什么原因？单个服务可正常收集

Goc server http://127.0.0.1:7777 return an error: {"error":"error merging main/main.go: coverage block mismatch: block #0 for main/main.go ({StartLine:12 StartCol:13 EndLine:16 EndCol:34 NumStmt:2 Count:1} mismatches {StartLine:9 StartCol:13 EndLine:14 EndCol:34 NumStmt:2 Count:1})"}

[2022-04-17 03:15] CarlJi commented on #279
这种情况一般是这两个服务使用的代码，版本不一致导致的。 @chumincc

[2022-04-17 03:17] CarlJi commented on #271
原因还是代码版本不一致。

[2022-04-17 03:17] #271 closed

[2022-04-18 02:05] chumincc commented on #279
我的设想是统计两个不同的服务，比如一个是消息服务，一个是搜索服务，通过命令生成总的覆盖率数据，两个服务的业务代是不一样的，不知道是否可以实现？@Carlji

[2022-04-18 02:41] CarlJi commented on #279
可以。你这里本质是两个服务使用的同一份代码，其版本不一致，导致没法合并。

[2022-04-18 02:44] CarlJi commented on #279
可以这样排查下:
1. 分别取这个服务的覆盖率结果: `goc profile --address=xxx >> 1.out`
2. 然后用各自的代码渲染: `go tool cover -html=1.out`
3. 比较渲染后的结果

[2022-04-18 03:58] chumincc commented on #279
不是很理解这句话“两个服务使用的同一份代码”，启动了一个goc server，分开build，分别使用8000和8001启动了两个服务，代码是分开的，如下图
<img width="254" alt="image" src="https://user-images.githubusercontent.com/52067240/163752101-70e44d9a-01df-4c1c-887f-980fda009451.png">

[2022-04-18 06:16] CarlJi commented on #279
就是说，你这个上下两份`main.go`文件有差异。

[2022-04-18 10:22] chumincc commented on #279
不理解，正常两个不同的服务，main文件是不一样的。难道说集成收集的意思是同一个服务部署在多个地方，这个意思？而不是同一个服务器不是多个不同的服务。

[2022-04-19 06:46] chumincc opened #280 "已修改注册中心端口，dial tcp 127.0.0.1:7777: connect: connection refused"
已启动注册中心端口为8888，
<img width="881" alt="image" src="https://user-images.githubusercontent.com/52067240/163942114-cec7189f-6c0c-42c7-b9d9-5d641bcfcbb4.png">
编译后启动显示连接不上，7777：
register address * failed, err: failed to register into coverage center, err:Post "http://127.0.0.1:7777/v1/cover/register?name=cmd&address=*": dial tcp 127.0.0.1:7777: connect: connection refused, response:

[2022-04-20 03:19] CarlJi commented on #280
可以用 `goc build --center=xxx` 来编译 @chumincc

[2022-04-20 09:25] #279 closed

[2022-04-20 09:26] chumincc commented on #279
不知道为何产生这个问题，但是把注册中心重新部署，重新编译运行就好了，还是原来一样的项目结构

[2022-04-20 09:27] chumincc commented on #280
已解决，感谢。

[2022-04-20 09:27] #280 closed

[2022-04-28 04:12] uveege opened #281 "[v1.3.5] Requirement: support clear coverage data for specify package"
Scenario:
run the 2nd test after `goc clear`, the `main` and related package are cleared, but it won't be covered in the next all profile (otherwise restart service).

Requirement:
`goc clear` to support `--covpkg` and `--skippkg`.
hence we can specify to keep coverage data for `main` package.

[2022-05-26 12:09] ankitjain1510 opened #282 "Why validatePackageForBuild only allow . as package name?"
For my project, main.go file is inside different directory whereas go.mod file is in different folder. When I am doing the goc build and passing the package path as `./cmd/server`, it returns error as below:

`time="2022-05-26T11:38:46Z" level=error msg="packages only support \".\"" file="[build/build.go:74]"`
`time="2022-05-26T11:38:46Z" level=fatal msg="Fail to build: packages only support \".\"

[2022-05-30 08:03] IcePaper4coding commented on #92
您好 发现如果有modules,txt 的话，只替换mod 也会报错

[2022-05-30 08:03] IcePaper4coding commented on #92
您好 发现如果有modules,txt 的话，只替换mod 也会报错

[2022-05-31 01:56] scottyungit commented on #121
请问啥原因 我也遇到了

[2022-06-02 07:31] RunningSnail999 opened #283 "goc profile拉取到的是覆盖行的数据，未覆盖行但已插桩的行数据如何获取"

[2022-06-05 03:59] CarlJi commented on #121
要使用goc build 编译出来的二进制执行才行。

其实goc build/run/install 三个命令的设计理念是跟go build/run/install 靠齐的，大家可以映照着理解会轻松些。 @scottyungit

[2022-06-05 04:02] CarlJi commented on #283
是否可以描述下具体的使用场景呢？这能帮助我们设计更合适的实践。 @RunningSnail999

另外，goc v2 是支持主动推的能力，不知道是否满足你的需求呢？

参考: https://github.com/qiniu/goc/blob/v2/cmd/watch.go#L21

[2022-06-07 03:30] RunningSnail999 commented on #283
我这边使用场景主要是在服务集群中采集功能测试覆盖率，但是由于安全策略原因，网路只能单向连通，goc profile能主动去拉取不在goc list中的服务覆盖率吗

[2022-06-07 07:45] CarlJi commented on #283
若知道目标服务监听的地址，可以通过`goc profile --address=《目标服务监听的地址》` 来获取。

[2022-06-10 02:21] CarlJi commented on #282
see: #152

Actually, it's a trade-off to support compiling single service only under `main` package. we originally think that user may choose `goc install ./...` to compile multi services if they want.

There are some works to let `goc` to align with `go build [packges]`. And of course, we appreciate very much if you wish to contribute. @ankitjain1510

[2022-06-14 08:39] scottyungit commented on #121
奇怪 我就是在编译是 使用goc build的。

[2022-06-14 10:11] CarlJi commented on #121
编译的产物是二进制，有了二进制直接执行它就可以了。

但我看你上面的截图，你是调用`goc build`之后，仍然通过`goc run .` 来执行的。

[2022-06-16 01:44] yuzg667 commented on #187
使用goc命令编译，我也遇到了这个问题。问下如何解决。
`原go命令行：
CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go  build -ldflags "$LDFlags" -o dist/dental
使用GOC的命令行,报错。具体如附图：
CGO_ENABLED=0 GOOS=linux GOARCH=amd64 goc build --buildflags="-ldflags '$LDFlags'"  --center=10.10.1.52:7777 --agentport=:46593 --debug -o dist/dental
`
![image](https://user-images.githubusercontent.com/20694486/173973426-96cd00e2-5819-4475-bd66-cb6550112b01.

[2022-06-16 03:21] yuzg667 opened #284 ""excute `go list -json ./...` command failed"
使用goc命令编译，我也遇到了这个问题。问下如何解决。
原go命令行：
`
CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go  build -ldflags "$LDFlags" -o dist/xxxx
`
使用GOC的命令行,报错。具体如附图：
`
CGO_ENABLED=0 GOOS=linux GOARCH=amd64 goc build --buildflags="-ldflags '$LDFlags'"  --center=1.10.1.100:7777 --agentport=:46593 --debug -o dist/xxxx
`
![image](https://user-images.githubusercontent.com/20694486/173973992-47d0c7de-f838-474e-bda0-f7508d9e4582

[2022-06-16 11:23] CarlJi commented on #284
请问你使用的系统是什么呢，确认也是没有bash的吗？ @yuzg667

[2022-07-01 08:54] jiajia-huo opened #287 "是否可以支持统计服务引用的sdk的覆盖率？"
我们的web服务只是做了简单的接口处理，主要的逻辑运算，业务处理都封在sdk中，请问我应该怎么做才能统计到sdk这部分的覆盖率

[2022-07-03 02:42] CarlJi commented on #287
那这个SDK是怎么被使用的呢？ @jiajia-huo

如果是另外的长时间运行的程序来使用，那对这个程序用goc就可以。如果是类似测试用例来用，直接写单测就可以，用go test -cover就能收集。

[2022-07-04 12:45] RunningSnail999 opened #288 "v2版本有release的安装包吗"
v2版本有release的安装包吗

# Linux/AMD64
curl -s -L "https://github.com/qiniu/goc/releases/latest" | sed -nE 's!.*"([^"]*-linux-amd64.tar.gz)".*!https://github.com\1!p' | xargs -n 1 curl -L  | tar -zx && chmod +x goc && mv goc /usr/local/bin

[2022-07-05 02:56] RunningSnail999 commented on #283
(base) MacBook-Pro ~ % goc profile --address="http://10.xx.xx.xx:33063"
FATA Goc server http://127.0.0.1:7777 return an error: {"error":"address [http://10.xx.xx.xx:33063] not found"}
(base) MacBook-Pro ~ % goc list
{}%

[2022-07-05 07:19] CarlJi commented on #283
这里的address 是**被测服务监听的地址**， 而非goc server。

[2022-07-13 09:52] Jun10ng opened #289 "使用 goc build的应用 会自动添加 test.v的flag"
hi team：
我想请问下 使用goc build的应用 会自动添加 test.v的flag 吗？有什么办法避免

demo如下：

[code]

使用goc build上面代码后，会输出 “test.v”，有没有什么办法避免呢？我们借助 test.v 参数来执行单元测试脚本，比如：单元测试时，不执行某些资源初始化。

[2022-07-14 01:37] CarlJi commented on #289
goc 底层使用的仍然是`go build`来做编译，其行为跟原生的一致，所以不会注入`test.v`。 @Jun10ng

[2022-07-14 01:38] CarlJi commented on #288
目前推荐通过源码编译哈，后面我们会做好这块的使用体验。

[2022-07-18 06:56] #289 closed

[2022-07-27 07:52] starztp commented on #123
能不能提供一个实际的例子来介绍如何使用goc做增量代码的覆盖？

[2022-08-03 10:55] sz891016 opened #291 "问题咨询：能否把编译生成的二进制服务和goc-build分开"
请问是否支持在A节点上编译，然后把生成的二进制传输到B节点上启动，请求B节点接口，收集覆盖率呢？

[2022-08-03 11:45] sz891016 commented on #291
done

[2022-08-04 06:11] CarlJi commented on #291
这里的"节点" 是指机器吗？ 如果是的话，那天生就支持啊。

和`go build`一样，`goc build`输出的也是二进制，二进制理论上是可以同架构系统下的任何地方执行的。当然在启动时，这个二进制需要与`goc server` 通信，所以只要保持这个通道畅通就可以了。 @sz891016

[2022-08-04 09:06] williamfzc opened #292 "支持设定service name"
#199

在instrumentation里支持一个特定环境变量，使得用户可以通过环境变量设定注册时的servicename是不是更简洁些？
对于单机多服务部署的情况就在脚本里临时 export 也能规避冲突

https://github.com/williamfzc/goc/commit/0ceed2a9971478945759ece5e18248d4cb9272af

需求我来描述下吧：
- 例如我们是个中台，提供给业务接入覆盖率；
- 业务其实自己编译出来的制品爱叫什么叫什么（比如叫main），而它与其他平台交互的时候（例如ci平台、自动化测试平台）可能用的是符合cmdb的另一个名字，这种情况下采集是匹配不上的；
- 这种行为也不能说它做得不规范，他可能只是想多个服务复用同一个部署脚本；

这种能力对中台还是挺需要的，不然推起来比较痛苦

[2022-08-05 06:37] ltdonglei commented on #236
你好，解决了吗？我也遇到相同问题

[2022-08-05 06:42] ltdonglei commented on #239
你好，怎么解决呢

[2022-08-05 09:06] #292 closed

[2022-08-08 14:50] songwenqin-vip opened #295 "goc profile"
What's the reason of no profiles?

root@90464575afd4:/go# goc profile
FATA Goc server http://127.0.0.1:7777 return an error: {"error":"no profiles"}

root@90464575afd4:/go# goc list
{"sample-manager":["http://10.0.1.4:45678"]}

[2022-08-09 04:38] songwenqin-vip commented on #295
I found goc register revise the IP address, using docker gateway ip.

[2022-08-09 04:38] #295 closed

[2022-08-11 04:22] jtongli opened #296 "想问一下统计覆盖率的时候怎么排除路径？"

[2022-08-11 04:26] jtongli commented on #296
找到了

[2022-08-11 04:26] #296 closed

[2022-08-15 01:35] ruinwCN opened #297 "关于编译的疑问"
goc 可以编译出指定平台的二进制包么？比如我在mac环境下希望编译amd64的包
类似 GOOS=linux GOARCH=amd64 xxx

[2022-08-15 01:37] #297 closed

[2022-08-16 02:11] cnlydia commented on #152
![goc问题](https://user-images.githubusercontent.com/14964911/184783445-f90390ef-f199-46ce-bb5c-93b3a9a019a4.png)

go build -o 是支持保存输出到指定路径下的，但是这个goc build -o的话，不会保存在路径下，只会生成一个这个路径的文件，这个说明文档看起来的是有歧义的

[2022-08-16 10:17] wyjlz opened #298 "同一个服务多次重新部署，会注册多个地址，只是端口不同（最新的一次是可用的）"
### 描述
同一个应用，同一个ip，进行多次重新部署，会向goc server重复注册，只是端口不一样；如
`{
    "testDemo": [
        "http://10.100.100.101:40438",
        "http://10.100.100.101:43535"
    ]
}
`
### 问题
当有多个注册地址的时候，其实只有一个是可用的，如果用不可用的地址获取染色报告的时候就会报错

### 期望
能不能去重下（同一个应用，同一ip，只保留最新的）

[2022-08-17 06:32] CarlJi commented on #298
在分布式、多实例的场景下，其实有可能存在一台机器部署多个实例的场景，这时候就不能简单的去重了。而你的这个问题，我可能更好的解法是思考如何去掉或者忽略掉失效的实例。

Goc 1.xx版本有以下途径可以尝试:
1. 被插桩的应用启动后，[会检查上一次监听的地址是否存在，](https://github.com/qiniu/goc/blob/master/pkg/cover/instrument.go#L336)如果存在它会复用里面的地址。所以可以看看是否可以利用这个机制
2. `goc remove` 命令可以删除已注册的服务
3. `goc profile --force` 可以强制忽略失效的服务 (PS: [最新版的goc](https://github.com/qiniu/goc/releases/tag/v1.4.2)已默认开启这个行为)

Goc 2.x因采用的websock协议做

[2022-08-19 06:48] sgy123456 opened #299 "咨询"
如果构建命令是 go build -mod=vendor -v -o aaa.bin  -tags tttt ./ccc/srv/main.go
用goc构建时，命令应该怎么写？

[2022-08-23 07:23] CarlJi commented on #299
@sgy123456 参考下这个
[code]

[2022-08-23 07:24] CarlJi commented on #291
no more comments, closing.

[2022-08-23 07:24] #291 closed

[2022-08-25 02:29] chumincc opened #300 "关于v2版本的问题"
1、v2版本是去掉本地文件_svrs_address.txt和log文件了吗？还是需要开启？
2、部署到测试服后，通过/v2/agents接口能看到服务列表，但是通过启动窗口的信息，没有看到到请求数据（ps：试过本地服务，能看到请求，如下图），求助这问题点可能出在哪？
![image](https://user-images.githubusercontent.com/52067240/186560034-d6eb4c1a-d5d5-4584-986f-6d5e2bde75a9.png)

[2022-08-25 06:03] CarlJi commented on #300
"通过启动窗口的信息，没有看到到请求数据" 这个具体是指什么呢？是想看到什么请求？

[2022-08-25 07:20] chumincc commented on #300
如问题附图，是启动本地服务时，触发请求就会产生一条接口相关的信息在启动goc server窗口，测试服无论怎么访问都没有任何接口信息。BTW，没有了log文件在哪可以看日志？

[2022-08-31 08:16] wuyuzhou12345 opened #301 "你好我们团队使用了go1.19的最新特性泛型，在使用goc build进行工程插桩的过程会报错，在引入泛型前正常，请问能支持一下吗"

[2022-08-31 09:22] CarlJi commented on #301
@wuyuzhou12345 可以尝试下最新的版本 [v1.4.3](https://github.com/qiniu/goc/releases/tag/v1.4.3) .

[2022-08-31 09:42] wuyuzhou12345 commented on #301
嗯嗯 尝试了最新的版本正常了 感谢

[2022-09-01 01:47] #301 closed

[2022-09-01 11:53] Karleung opened #303 "1.3.9版本中使用goc 编译时报错，./http_cover_apis_auto_generated.go:13:2: log redeclared in this block"
这里log日志变量与项目中的log日志变量报错已声明

[2022-09-02 03:39] CarlJi commented on #303
看起来使用定制化的log包，在大家的项目中是个比较普遍的现象。如此的话，goc这边计划会做些调整，来规避这个场景。

[2022-09-05 02:55] jack-tang1 opened #304 "goc支持sdk的代码覆盖率统计吗"
我目前的应用通过go mod方式引入依赖，请问支持只统计该依赖的代码覆盖率吗

[2022-09-05 03:55] sgy123456 commented on #299
-mod=vendor 应该怎么加呢，这样加么？
goc build --buildflags="-mod=vendor -tags 'ttt' "

[2022-09-05 09:37] CarlJi commented on #304
目前版本是不支持的

[2022-09-05 09:58] CarlJi commented on #181
fixed by #305

[2022-09-05 09:58] #181 closed

[2022-09-07 04:08] xuetuyic1 opened #306 "goc不支持go build -mod=vendor吗？"
使用go build --buildflags=" -mod vendor"进行编译报错。

[2022-09-07 06:27] CarlJi commented on #306
目前不支持。go build -mod=vendor 本质应该是在编译的时候自动下载依赖包，而mod下载这个动作已经超出goc的目前范畴了。

建议你这边是不是把这个命令拆开，先执行类似 `go mod download` 动作，然后再执行 `goc build .` @xuetuyic1

[2022-09-11 11:35] guazaipi commented on #284
遇到过这个问题，是基于golang:alpine的docker环境，apk add bash安装bash后，goc build .可以编译了

[2022-09-15 09:43] debbyzang opened #307 "fail to curl"
[root@localhost zfs]# curl -s -L "https://github.com/qiniu/goc/releases/latest" | sed -nE 's!.*"([^"]*-linux-386.tar.gz)".*!https://github.com\1!p' | xargs -n 1 curl -L  | tar -zx && chmod +x goc && mv goc /usr/local/bin

curl: no URL specified!
curl: try 'curl --help' or 'curl --manual' for more information

gzip: stdin: unexpected end of file
tar: Child returned status 1
tar: Error is not recove

[2022-09-17 04:25] CarlJi commented on #307
hi @debbyzang , i have fixed this, please try again. Thanks.

[2022-09-17 04:26] #307 closed

[2022-09-20 06:45] debbyzang opened #309 "FATA Fail to build: fail to execute: [/bin/bash -c go build -o /git/projectdemo/tool .], err: exit status 1"
step1 :goc server
step2: goc build.

then got error :FATA Fail to build

[root@localhost projectdemo]# goc build .
no Go files in /tmp/goc-build-52be089fc042
FATA Fail to build: fail to execute: [/bin/bash -c go build  -o /git/projectdemo/tool .], err: exit status 1

[2022-09-21 05:50] mashraf09 opened #310 "The command '/bin/sh -c CGO_ENABLED=0 GOOS=linux GOARCH=amd64 goc build -o main' returned a non-zero code: 1"
I want to create and run goc build inside the docker-compose. I'm not sure it will work or not but i am having this error while docker-compose executes the line "RUN CGO_ENABLED=0 GOOS=linux GOARCH=amd64 goc build -o main"

Error:
Step 9/12 : RUN CGO_ENABLED=0 GOOS=linux GOARCH=amd64 goc build -o main
 ---> Running in 8ae3a09842f7
level=fatal msg="Fail to build: fail to list package dependencies"

[2022-09-22 02:16] CarlJi commented on #310
Hi @mashraf09 , based on this err `"Fail to build: fail to list package dependencies"`, you can use `go list ./...` to check what happening.

[2022-09-22 02:18] CarlJi commented on #309
Hi @debbyzang, you could use `go build .` to check what's happening in your environment.

[2022-09-22 05:30] mashraf09 commented on #310
Hi @CarlJi thanks, `go list ./..`  is just listing the module name I'm using.

Step 10/12 : RUN go list ./...
 ---> Running in e4646cb36103
github.com/segmentio/kafka-go/example/consumer-logger
Removing intermediate container e4646cb36103
 ---> 52f723ecfea6
Step 11/12 : RUN goc build -o main
 ---> Running in 2c6d723cb8d3
level=fatal msg="Fail to build: fail to list package dependencies"
The comman

[2022-09-22 10:23] mashraf09 commented on #310
@CarlJi I fixed it and successfully build my docker-compose. I added `RUN apk add bash`  to my docker file and it worked.

[2022-09-23 07:05] #310 closed

[2022-10-06 10:09] mashraf09 opened #312 "goc profile in multi-instance environment"
I have a multi-instance  environment, an application and its replica both are running as load balanacer and serving multiple requests and when I get coverage using ```goc profile --center=http://127.0.0.1:7779 --service=consumer-logger > coverage.out && go tool cover -html=coverage.out``` it gives complete coverage from both instances, but when one instance goes down (or shutdown manually) its cov

[2022-10-07 07:25] CarlJi commented on #312
@mashraf09  currently, whenever we call `goc profile`, it will pull data from the applications under test, and `goc` itself didn't store any data. In other words, it was by design for your scenario.

[2022-10-10 11:55] cnlydia opened #313 "精测测试如何使用goc"
想在运行一个测试用例后，得到这个用例涉及到的代码，但是现在只知道从profile生成的cov里面的count读出来变化，这样代码量大的情况下，读取每一行代码段count的耗时太长，有没有其他更好地方式呢？

[2022-10-11 06:48] mashraf09 commented on #312
@CarlJi got it, thanks

[2022-10-11 06:48] #312 closed

[2022-10-11 11:02] CarlJi commented on #313
具体耗时多久呢？

如果读取count都耗时挺久，那针对每个文件的变动抽code block会更耗时吧，在你这个场景里是不是就没法接受了？

[2022-10-13 05:28] panxuepian commented on #236
你好，解决了吗？我也遇到相同问题

[2022-10-13 05:31] panxuepian commented on #236
你好，解决了吗？我也遇到相同问题

[2022-10-13 05:47] panxuepian commented on #236
你好，帮忙看看呢？@CarlJi @jinsdu@outlook.com

[2022-10-13 08:09] cnlydia commented on #313
profile 中有13646行，然后去比对下一次的profile文件里面对应的count是否有变动，大概耗时需要一分半钟，如果有100个用例的话，就需要将近2个半小时了 :(

[2022-10-13 08:20] CarlJi commented on #313
[goc v2](https://github.com/qiniu/goc/tree/v2#5-watch-%E6%A8%A1%E5%BC%8F) 有watch的能力，可以主动推送覆盖率变化，可以尝试下。

[2022-10-13 08:48] cnlydia commented on #313
之前是直接使用linux命令去对比文件的，比较原始，现在改成了用python的difflib去读就快了很多，感谢 :)

[2022-10-13 08:48] #313 closed

[2022-10-14 10:10] wangjielalala opened #314 "v2 版本,连接接受接受缓冲区一直增大,导致OOM"

[2022-10-14 10:17] wangjielalala commented on #314
![image](https://user-images.githubusercontent.com/54579461/195822484-6fa8f0d8-ebe0-47f1-8fa9-ef92c5bd40b4.png)
netstat -nltp,关注第二列

![image](https://user-images.githubusercontent.com/54579461/195823446-dae04b8e-e2f3-486d-aabc-a1ec088af165.png)

各位大佬帮忙定位一下,我定位是这块代码的问题
![image](https://user-images.githubusercontent.com/54579461/195822692-d3df16a7-09d9-437a-a450-25281f2c5ac0.png)

[2022-10-14 10:20] wangjielalala commented on #314
@lyyyuna @CarlJi

[2022-10-14 10:27] wangjielalala commented on #314
cmd 命令是:  ./gocv2 server

[2022-10-15 05:55] CarlJi commented on #314
可能是bug，欢迎提交PR

[2022-10-16 11:41] e06084 opened #315 "v2版本是不是不支持泛型项目？"
[fatal]  cover: /tmp/gocbuild5c3174b74edc/common/pointerutil/util.go: /tmp/gocbuild5c3174b74edc/common/pointerutil/util.go:3:13: expected '(', found '['

[2022-10-17 02:24] #315 closed

[2022-10-22 09:19] RunningSnail999 opened #316 "是否有指令清空goc server的覆盖率数据"

[2022-10-22 09:24] #316 closed

[2022-10-22 09:24] RunningSnail999 commented on #316
已经在源码中找到clear指令

[2022-10-25 11:07] sz891016 commented on #282
can we use goc build like go build [packges] now.

[2022-10-27 02:11] wuyuzhou12345 opened #317 "无法采集到覆盖率信息"
你好是这样的，我们的goc server部署在物理机a上，不是按照docker方式启动，但是我们的服务是以docker方式启动的，这样是不是要在服务以docker的方式启动的时候要加上-p参数暴露给goc server能访问的端口，且goc build的时候需要携带 --agentport参数来指定端口

[2022-10-28 05:13] lyyyuna commented on #314
1. netstat 显示的 send-q, recv-q 属于 tcpip 协议栈，和进程内存没有关系。有堆积说明进程未 recv
2. 你 rss kill 时好像才 <200M？是不是内存给小了
3. 我这边有长时间运行的 goc server < 50M，给一下使用场景/网络情况/agent 规模

[2022-11-01 06:15] wangjielalala commented on #314
1、第一个问题是确实和进程内存没关系,但是如果连接缓存有堆积,导致系统内存增大,导致OOM,同时也解释了第二个问题,虚机内存资源确实紧张,但是不是根本原因,根本原因是有  _**业务代码收包逻辑有bug,导致连接缓存堆积**_
2、使用场景是 我们的容器服务会注册到注册中心,过程中会发起获取覆盖率请求和心跳请求
      网络情况: 抓包有堆积连接5分钟显示 心跳包正常,排除心跳逻辑有问题, 网卡没有出现异常包和丢包现象,但是运行大概一周后就会被OOM,期间 连接缓存一直增大
     agent规模: 同时在线establish 连接是  180 - 200,范围之间

[2022-11-01 06:16] wangjielalala commented on #314
@lyyyuna

[2022-11-01 06:20] wangjielalala commented on #314
还有补充一点是, 并不是所有 establish 连接 都有堆积问题,只有 大概只有 5%的连接会有这种问题

[2022-11-09 03:03] StarShao opened #318 "k8s集群收集覆盖率不稳定"
执行goc profile  收集覆盖率时
报错信息如下，偶尔可以成功，多数都是失败的
error upstream connect error or disconnect/reset before headers. reset reason: connection failure, transport failure reason: delayed connect error: 111

[2022-11-17 16:36] wangjielalala commented on #314
1、第一个问题是确实和进程内存没关系,但是如果连接缓存有堆积,导致系统内存增大,导致OOM,同时也解释了第二个问题,虚机内存资源确实紧张,但是不是根本原因,根本原因是有
*业务代码收包逻辑有bug,导致连接缓存堆积*
2、使用场景是 我们的容器服务会注册到注册中心,过程中会发起获取覆盖率请求和心跳请求
网络情况: 抓包有堆积连接5分钟显示 心跳包正常,排除心跳逻辑有问题, 网卡没有出现异常包和丢包现象,但是运行大概一周后就会被OOM,期间
连接缓存一直增大
agent规模: 同时在线establish 连接是 180 - 200,范围之间

还有补充一点是, 并不是所有 establish 连接 都有堆积问题,只有 大概只有 5%的连接会有这种问题

Li Yiyang ***@***.***> 于2022年10月28日周五 13:13写道：

[2022-11-21 07:09] kangyingjie opened #320 "不同代码版本的覆盖率文件合并"
背景：我们目前自动化测试用例还比较少，以人工测试为主，想看下人工测试的代码覆盖情况。
目前的测试工作流程: 1提测 -> 2测试/反馈问题 -> 3修复bug/发版 -> (重复2,3) -> 4测试完成。
现在加入统计代码覆盖率，人工测试因为用例很多，不能像自动化测试一样重放。想在步骤3`修复bug重新发版`时， 合并之前的覆盖率文件。实际发现会报错，提示文件行数不一致，无法合并。

想了解下为了这种统计目标有没有推荐的方案。🙏